<div class="hero">
	<div class="hero-inner">
    <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
" alt="Logo Image"></a>
		<div class="hero-copy">
			<h1>Instagram generates your webpage!</h1>
			<p>If you use Instagram to promote your store, you will get free webpage!!</p>	
		</div>
    <button>Sign up with Instagram</button>
	</div>
</div>
