%header.navigation{ role: "banner" }
<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <%= link_to image_tag("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png"), root_path, class: "logo" %>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="javascript:void(0)">Feature</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Pricing</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Blog</a></li>
        <li class="nav-link"><a href="javascript:void(0)">About</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
      </ul>
    </nav>
    <%= render "shared/auth" %>
  </div>
</header>
