<html>
<head>
<title><%= @page_name  %>'s Home</title>
</head>
<body>
<% @current_user.store.menus.each do |menu| %>
  <% unless menu.category.nil? %>
    <img src="<%= menu.standard_resolution  %>">
    <h1> <%= menu.name %> </h1>
  <% end %>
<% end %>
</body>
</html>
